@model Recipe

@if (Model == null)
{
    <h2>
        No Community Recipes found
    </h2>
}
else
{
    <br />
    <div class="comFood">
        <br>
    <h3 class="text-decoration-underline font-weight-bold">@Model.Title</h3>

        <h3 >
            <img  id="img" src="@Model.Img">
        </h3>
            <br />


    <h8>Instructions</h8>
    <h3>@Model.Instructions</h3>
    <br>
    <h8>Ingrediants</h8>
    <h3>@Model.Ingrediants</h3>
    <br>
    <h8>catagory</h8>
    <h3>@Model.Catagory</h3>
    <br />
        <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" class="btn mx-2" style="background-color: #21B6A8; color: white">
        Edit
    </a>

        <a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id" class="btn mx-2" style="background-color: #21B6A8; color: white">
        Delete
    </a>

    <br />
</div>

    <div>
        <img class="foodBanner" src="/css/images/banner.png" />
    </div>
<br />
}