@using System.Data;
@model WebAPIConfig;

@{
    ViewData["Title"] = "API Recipes";
}

<body data-spy="scroll" data-target=".nav">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

    </ul>

    <div class="text-center">
        <h1 class="websiteText">Cut The BS - API Recipes</h1>

        <br />
        <hr />
        <br />

        <form class="d-flex" asp-controller="Home" asp-action="API" method="post">
            <input name="searchKey" class="form-control me-sm-2" type="search" placeholder="Search" />
            <button id="apiSearch" class="btn btnalert-secondary my-2 my-sm-0 text-light" type="submit">Search</button>
        </form>


        <br />
        <hr />
        <br />
         
        <div id="apiLists">
            @foreach (ApiRecipes ar in Model.meals)
            {
                <div id="foodDisplay">
                <p id="foodText" class="text-decoration-underline font-weight-bold">@ar.strMeal</p>
                <img id="apiImg" src="@ar.strMealThumb" />
                <br/>

                <p id="foodText" class="text-decoration-underline font-weight-bold">Category: </p>
                <p>@ar.strCategory</p>

                <p id="foodText" class="text-decoration-underline font-weight-bold">Food Type: </p>
                <p>@ar.strTags</p>

                <p id="foodText" class="text-decoration-underline">Region: </p>
                <p>@ar.strArea</p>
                </div>
                <br />

                <div>
                    <p id="foodText">Instructions:</p>
                    <div id="insDisplay">
                        <p>@ar.strInstructions</p>
                    </div>
                </div>
                <br />

                <div id="information" class="row mx-5">
                    <p id="foodText"> Ingredients and Measurements:</p>
                    <div id="ingDisplay" class="mx-5 overflow-scroll">
                        <p>@ar.strMeasure1 @ar.strIngredient1 </p>
                        <p>@ar.strMeasure2 @ar.strIngredient2</p>
                        <p>@ar.strMeasure3 @ar.strIngredient3</p>
                        <p>@ar.strMeasure4 @ar.strIngredient4</p>
                        <p>@ar.strMeasure5 @ar.strIngredient5</p>
                        <p>@ar.strMeasure6 @ar.strIngredient6</p>
                        <p>@ar.strMeasure7 @ar.strIngredient7</p>
                        <p>@ar.strMeasure8 @ar.strIngredient8</p>
                        <p>@ar.strMeasure9 @ar.strIngredient9</p>
                        <p>@ar.strMeasure10 @ar.strIngredient10</p>
                        <p>@ar.strMeasure11 @ar.strIngredient11</p>
                        <p>@ar.strMeasure12 @ar.strIngredient12</p>
                        <p>@ar.strMeasure13 @ar.strIngredient13</p>
                        <p>@ar.strMeasure14 @ar.strIngredient14</p>
                        <p>@ar.strMeasure15 @ar.strIngredient15</p>
                        <p>@ar.strMeasure16 @ar.strIngredient16</p>
                        <p>@ar.strMeasure17 @ar.strIngredient17</p>
                        <p>@ar.strMeasure18 @ar.strIngredient18</p>
                        <p>@ar.strMeasure19 @ar.strIngredient19</p>
                        <p>@ar.strMeasure20 @ar.strIngredient20</p>
                        <p>@ar.strMeasure20 @ar.strIngredient21</p>
                        <p>@ar.strMeasure20 @ar.strIngredient22</p>
                        <p>@ar.strMeasure20 @ar.strIngredient23</p>
                        <p>@ar.strMeasure20 @ar.strIngredient24</p>
                        <p>@ar.strMeasure20 @ar.strIngredient25</p>
                    </div>
                </div>
            }
       </div>
 
</body>
