@using System.Data;
@model WebAPIConfig;

@{
    ViewData["Title"] = "API Recipes";
}

<body data-spy="scroll" data-target=".nav">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

    </ul>

    <div class="text-center">
        <h1 class="websiteText">Cut The BS - API Recipes</h1>

        <br />
        <hr />
        <br />

        <form class="d-flex" asp-controller="Game" asp-action="Search" method="post">
            <input name="key" class="form-control me-sm-2" type="search" placeholder="Search" />
            <button id="apiSearch" class="btn btnalert-secondary my-2 my-sm-0 text-light" type="submit">Search</button>
        </form>


        <br />
        <hr />
        <br />
         
        <div>
            @foreach (ApiRecipes ar in Model.meals)
            {
                <img src="@ar.strMealThumb" />
                <p>@ar.strMeal</p>
                <p>@ar.strCategory</p>
                <p>@ar.strTags</p>
                <p>@ar.strArea</p>
                <br />
                <br />
                <p>@ar.strInstructions</p>
                <br />
                <p>@ar.strIngredient1</p>
                <p>@ar.strIngredient2</p>
                <p>@ar.strIngredient3</p>
                <p>@ar.strIngredient4</p>
                <p>@ar.strIngredient5</p>
                <p>@ar.strIngredient6</p>
                <p>@ar.strIngredient7</p>
                <p>@ar.strIngredient8</p>
                <p>@ar.strIngredient9</p>
                <p>@ar.strIngredient10</p>
                <p>@ar.strIngredient11</p>
                <p>@ar.strIngredient12</p>
                <p>@ar.strIngredient13</p>
                <p>@ar.strIngredient14</p>
                <p>@ar.strIngredient15</p>
                <p>@ar.strIngredient16</p>
                <p>@ar.strIngredient17</p>
                <p>@ar.strIngredient18</p>
                <p>@ar.strIngredient19</p>
                <p>@ar.strIngredient20</p>
                <p>@ar.strIngredient21</p>
                <p>@ar.strIngredient22</p>
                <p>@ar.strIngredient23</p>
                <p>@ar.strIngredient24</p>
                <p>@ar.strIngredient25</p>
                <br />
                <br />
                <p>@ar.strMeasure1</p>
                <p>@ar.strMeasure2</p>
                <p>@ar.strMeasure3</p>
                <p>@ar.strMeasure4</p>
                <p>@ar.strMeasure5</p>
                <p>@ar.strMeasure6</p>
                <p>@ar.strMeasure7</p>
                <p>@ar.strMeasure8</p>
                <p>@ar.strMeasure9</p>
                <p>@ar.strMeasure10</p>
                <p>@ar.strMeasure11</p>
                <p>@ar.strMeasure12</p>
                <p>@ar.strMeasure13</p>
                <p>@ar.strMeasure14</p>
                <p>@ar.strMeasure15</p>
                <p>@ar.strMeasure16</p>
                <p>@ar.strMeasure17</p>
                <p>@ar.strMeasure18</p>
                <p>@ar.strMeasure19</p>
                <p>@ar.strMeasure20</p>

            }
       </div>
 
</body>
